<!DOCTYPE html>
<html>
  <head>
    <title>Wingmate</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render partial: 'layouts/navigation' %>

    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <%= yield %>
    </div>
    <%= custom_bootstrap_flash %>
  </body>
</html>
